body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f6f9;
  }
  
  .dashboard {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .connection {
    font-weight: bold;
  }
  
  .main {
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
  
  /* LEFT SIDE */
  .panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  /* BUTTON */
  .btn {
    padding: 12px 20px;
    border: none;
    background: #111;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .btn:hover {
    opacity: 0.85;
  }
  
  .updateTime {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
  }
  
  /* RIGHT SIDE STATUS PANEL */
  .statusPanel {
    flex: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    height: 350px;
  }
  
  .statusPanel.safe {
    background: #e8f5e9;
    color: #2e7d32;
  }
  
  .statusPanel.alert {
    background: #ffebee;
    color: #c62828;
  }
  
  .statusIcon {
    font-size: 70px;
    margin-bottom: 10px;
  }